<body>
<nav>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links">
    <li><a href="#">About</a></li>
    <li><a href="check">Check</a></li>
    <li><a href="checkout">Checkout</a></li>
    <li><a href="payment">Payment</a></li>
    <li><a href="home">Home</a></li>
  </ul>
</nav>
<script src="app.js">
  const hamburger = document.querySelector(".hamburger");
  const navLinks = document.querySelector(".nav-links");
  const links = document.querySelectorAll(".nav-links li");

  hamburger.addEventListener("click", () => {
    navLinks.classList.toggle("open");
    links.forEach(link => {
      link.classList.toggle("fade");
    });
  });
</script>
</body>
